* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}


.container {
    background-color: #23424A;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 5rem;
    /* height: 300px; 기본적으로 반응형이기 때문에 굳이 지정해줄 필요가 없다. */
}
